body{
    margin: 0px;
}
.carousell{
    width: 100%;
    overflow: scroll;
    padding: 30px;
    position: relative;
}
.carousell__container{
    white-space: nowrap;
    margin: 70px 0px;
    padding-bottom: 10px;
}
/*pendiente*/
.carousell__container ~ .carousell-item{
    white-space: nowrap;
    margin: 70px 0px;
    padding-bottom: 10px;
}
.carousell-item{
    background-color: teal;
    width: 200px;
    height: 250px;
    border-radius: 20px;
    overflow: hidden;
    margin-right: 10px;
    display: inline-block;
    cursor: pointer;
    transition: 450ms all;
    transform-origin: center left;
    position: relative;
}
.carousell-item:hover ~ .carousell-item{
    transform: translate3d(100px, 0, 0);
}
.carousell__container:hover .carousell-item{
    opacity: 0.3;
}
.carousell__container:hover .carousell-item:hover{
    transform: scale(1.5);
    opacity: 1;
}
.carousell-item__img{
    width: 200px;
    height: 250px;
    object-fit: cover;
    position: relative;
}
.carousell-item__details{
    background: linear-gradient(to top, rgba(0,0,0,0.8)10%, rgba(0,0,0,0)100%);
    font-size: 10px;
    opacity: 0;
    transition: 450ms opacity;
    padding: 10px;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: flex-start;
    line-height: 0.5px;
}
.carousell-item__details img{
    width: 15px;
    height: 15px;
}
.carousell-item__details:hover{
    opacity: 1;
}
.carousell-item__details p{
    color: white;
    font-family: 'Muli', sans-serif;
    font-size: 6px;
}