<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/estilos-final.css">
    <title>404</title>
</head>
<body>
      <!--HEADER-->

      <header class="header">
        <img class="header__img" src="../assets/logo-platzi.png" alt="logo-platzi-video-BW2">
    </header>


    <!--FOOTER-->

<footer class="footer">
    <a href="/">Términos de Uso</a>
    <a href="/">Declaración de privacidad</a>
    <a href="/">Centro de Ayuda</a>
</footer>

</body>
</html>