 <!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://fonts.googleapis.com/css?family=Muli&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="../css/carousel.css">
    <title>Carrousel</title>
</head>
<body>
    <section class="carousell">
        <div class="carousell__container">
            <div class="carousell-item">
                    <img class="carousell-item__img" src="../img/dance-1.jpg" alt="active-dance">
                <div class="carousell-item__details">
                    <div>
                        <img src="../assets/icon-play.png" alt="play"/>
                        <img src="../assets/icon-plus.png" alt="plus"/>
                    </div>
                    <p class="carousell-item__details--title">Titulo descriptivo</p>
                    <p class="carousell-item__details--subtitle">2019 16+ 114min</p>
                </div>    
            </div>
            <div class="carousell-item">
                    <img class="carousell-item__img" src="../img/dance-2.jpg" alt="active-dance">
                <div class="carousell-item__details">
                    <div>
                        <img src="../assets/icon-play.png" alt="play"/>
                        <img src="../assets/icon-plus.png" alt="plus"/>
                    </div>
                    <p class="carousell-item__details--title">Titulo descriptivo</p>
                    <p class="carousell-item__details--subtitle">2019 16+ 114min</p>
                </div>    
            </div>
            <div class="carousell-item">
                    <img class="carousell-item__img" src="../img/dance-3.jpg" alt="active-dance">
                <div class="carousell-item__details">
                    <div>
                        <img src="../assets/icon-play.png" alt="play"/>
                        <img src="../assets/icon-plus.png" alt="plus"/>
                    </div>
                    <p class="carousell-item__details--title">Titulo descriptivo</p>
                    <p class="carousell-item__details--subtitle">2019 16+ 114min</p>
                </div>    
            </div>
            <div class="carousell-item">
                    <img class="carousell-item__img" src="../img/dance-4.jpg" alt="active-dance">
                <div class="carousell-item__details">
                    <div>
                        <img src="../assets/icon-play.png" alt="play"/>
                        <img src="../assets/icon-plus.png" alt="plus"/>
                    </div>
                    <p class="carousell-item__details--title">Titulo descriptivo</p>
                    <p class="carousell-item__details--subtitle">2019 16+ 114min</p>
                </div>    
            </div>
            <div class="carousell-item">
                    <img class="carousell-item__img" src="../img/dance-5.jpg" alt="active-dance">
                <div class="carousell-item__details">
                    <div>
                        <img src="../assets/icon-play.png" alt="play"/>
                        <img src="../assets/icon-plus.png" alt="plus"/>
                    </div>
                    <p class="carousell-item__details--title">Titulo descriptivo</p>
                    <p class="carousell-item__details--subtitle">2019 16+ 114min</p>
                </div>    
            </div>
            <div class="carousell-item">
                    <img class="carousell-item__img" src="../img/dance-6.jpg" alt="active-dance">
                <div class="carousell-item__details">
                    <div>
                        <img src="../assets/icon-play.png" alt="play"/>
                        <img src="../assets/icon-plus.png" alt="plus"/>
                    </div>
                    <p class="carousell-item__details--title">Titulo descriptivo</p>
                    <p class="carousell-item__details--subtitle">2019 16+ 114min</p>
                </div>    
            </div>
            <div class="carousell-item">
                <img class="carousell-item__img" src="../img/dance-7.jpg" alt="active-dance">
            <div class="carousell-item__details">
                <div>
                    <img src="../assets/icon-play.png" alt="play"/>
                    <img src="../assets/icon-plus.png" alt="plus"/>
                </div>
                <p class="carousell-item__details--title">Titulo descriptivo</p>
                <p class="carousell-item__details--subtitle">2019 16+ 114min</p>
            </div>    
        </div>
    </div>
    </section>
</body>
</html>