<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/estilos-final.css">
    <link href="https://fonts.googleapis.com/css?family=Muli&display=swap" rel="stylesheet">
    <title>Document</title>
</head>
<body>

    <!--HEADER-->

    <header class="header">
        <img class="header__img" src="../assets/logo-platzi.png" alt="logo-platzi-video-BW2">

        <div class="header__menu">
            <div class="header__menu--profile">
                <img src="../assets/male-user.png" alt="user">
                <p>Perfil</p>
            </div>
            <ul>
                <li><a href="/">Cuenta</a></li>
                <li><a href="/">Cerrar Sesion</a></li> 
            </ul>
        </div>
    </header>

    <section class="main">
        <h2 class="main__title">¿Qué quieres ver hoy?</h2>
        <input class="input" type="text" placeholder="Buscar...">
    </section>
    
<section class="carousell">

        <!--Mi lista-->

        <h2 class="categories__title">Mi lista</h2>

    <div class="carousell__container">
        <div class="carousell-item">
            <img class="carousell-item__img" src="../img/dance-1.jpg" alt="active-dance">
            <div class="carousell-item__details">
            <div>
            <img src="../assets/icon-play.png" alt="play"/>
            <img src="../assets/icon-plus.png" alt="plus"/>
            </div>
            <p class="carousell-item__details--title">Titulo descriptivo</p>
            <p class="carousell-item__details--subtitle">2019 16+ 114min</p>
            </div>    
        </div>
        <div class="carousell-item">
            <img class="carousell-item__img" src="../img/dance-2.jpg" alt="active-dance">
            <div class="carousell-item__details">
            <div>
            <img src="../assets/icon-play.png" alt="play"/>
            <img src="../assets/icon-plus.png" alt="plus"/>
            </div>
            <p class="carousell-item__details--title">Titulo descriptivo</p>
            <p class="carousell-item__details--subtitle">2019 16+ 114min</p>
            </div>    
        </div>
        <div class="carousell-item">
            <img class="carousell-item__img" src="../img/dance-3.jpg" alt="active-dance">
            <div class="carousell-item__details">
            <div>
            <img src="../assets/icon-play.png" alt="play"/>
            <img src="../assets/icon-plus.png" alt="plus"/>
            </div>
            <p class="carousell-item__details--title">Titulo descriptivo</p>
            <p class="carousell-item__details--subtitle">2019 16+ 114min</p>
            </div>    
        </div>
        <div class="carousell-item">
            <img class="carousell-item__img" src="../img/dance-4.jpg" alt="active-dance">
            <div class="carousell-item__details">
            <div>
            <img src="../assets/icon-play.png" alt="play"/>
            <img src="../assets/icon-plus.png" alt="plus"/>
            </div>
            <p class="carousell-item__details--title">Titulo descriptivo</p>
            <p class="carousell-item__details--subtitle">2019 16+ 114min</p>
            </div>    
        </div>
        <div class="carousell-item">
            <img class="carousell-item__img" src="../img/dance-5.jpg" alt="active-dance">
            <div class="carousell-item__details">
            <div>
            <img src="../assets/icon-play.png" alt="play"/>
            <img src="../assets/icon-plus.png" alt="plus"/>
            </div>
            <p class="carousell-item__details--title">Titulo descriptivo</p>
            <p class="carousell-item__details--subtitle">2019 16+ 114min</p>
            </div>    
        </div>
        <div class="carousell-item">
                <img class="carousell-item__img" src="../img/dance-6.jpg" alt="active-dance">
            <div class="carousell-item__details">
                <div>
                    <img src="../assets/icon-play.png" alt="play"/>
                    <img src="../assets/icon-plus.png" alt="plus"/>
                </div>
                    <p class="carousell-item__details--title">Titulo descriptivo</p>
                    <p class="carousell-item__details--subtitle">2019 16+ 114min</p>
            </div>    
        </div>
        <div class="carousell-item">
            <img class="carousell-item__img" src="../img/dance-7.jpg" alt="active-dance">
            <div class="carousell-item__details">
                <div>
                    <img src="../assets/icon-play.png" alt="play"/>
                    <img src="../assets/icon-plus.png" alt="plus"/>
                </div>
                <p class="carousell-item__details--title">Titulo descriptivo</p>
                <p class="carousell-item__details--subtitle">2019 16+ 114min</p>
            </div>    
        </div>
    </div>

   <!--Tendencias-->

   <h2 class="categories__title">Tendencias</h2>

    <div class="carousell__container">
        <div class="carousell-item">
            <img class="carousell-item__img" src="../img/face-1.jpg" alt="active-dance">
            <div class="carousell-item__details">
            <div>
            <img src="../assets/icon-play.png" alt="play"/>
            <img src="../assets/icon-plus.png" alt="plus"/>
            </div>
            <p class="carousell-item__details--title">Titulo descriptivo</p>
            <p class="carousell-item__details--subtitle">2019 16+ 114min</p>
            </div>    
        </div>
        <div class="carousell-item">
            <img class="carousell-item__img" src="../img/face-2.jpg" alt="active-dance">
            <div class="carousell-item__details">
            <div>
            <img src="../assets/icon-play.png" alt="play"/>
            <img src="../assets/icon-plus.png" alt="plus"/>
            </div>
            <p class="carousell-item__details--title">Titulo descriptivo</p>
            <p class="carousell-item__details--subtitle">2019 16+ 114min</p>
            </div>    
        </div>
        <div class="carousell-item">
            <img class="carousell-item__img" src="../img/face-3.jpg" alt="active-dance">
            <div class="carousell-item__details">
            <div>
            <img src="../assets/icon-play.png" alt="play"/>
            <img src="../assets/icon-plus.png" alt="plus"/>
            </div>
            <p class="carousell-item__details--title">Titulo descriptivo</p>
            <p class="carousell-item__details--subtitle">2019 16+ 114min</p>
            </div>    
        </div>
        <div class="carousell-item">
            <img class="carousell-item__img" src="../img/face-4.jpg" alt="active-dance">
            <div class="carousell-item__details">
            <div>
            <img src="../assets/icon-play.png" alt="play"/>
            <img src="../assets/icon-plus.png" alt="plus"/>
            </div>
            <p class="carousell-item__details--title">Titulo descriptivo</p>
            <p class="carousell-item__details--subtitle">2019 16+ 114min</p>
            </div>    
        </div>
        <div class="carousell-item">
            <img class="carousell-item__img" src="../img/face-5.jpg" alt="active-dance">
            <div class="carousell-item__details">
            <div>
            <img src="../assets/icon-play.png" alt="play"/>
            <img src="../assets/icon-plus.png" alt="plus"/>
            </div>
            <p class="carousell-item__details--title">Titulo descriptivo</p>
            <p class="carousell-item__details--subtitle">2019 16+ 114min</p>
            </div>    
        </div>
        <div class="carousell-item">
                <img class="carousell-item__img" src="../img/face-6.jpg" alt="active-dance">
            <div class="carousell-item__details">
                <div>
                    <img src="../assets/icon-play.png" alt="play"/>
                    <img src="../assets/icon-plus.png" alt="plus"/>
                </div>
                    <p class="carousell-item__details--title">Titulo descriptivo</p>
                    <p class="carousell-item__details--subtitle">2019 16+ 114min</p>
            </div>    
        </div>
        <div class="carousell-item">
            <img class="carousell-item__img" src="../img/face-7.jpg" alt="active-dance">
            <div class="carousell-item__details">
                <div>
                    <img src="../assets/icon-play.png" alt="play"/>
                    <img src="../assets/icon-plus.png" alt="plus"/>
                </div>
                <p class="carousell-item__details--title">Titulo descriptivo</p>
                <p class="carousell-item__details--subtitle">2019 16+ 114min</p>
            </div>    
        </div>
    </div>

   <!--Originales de Platzi Videos-->
   <h2 class="categories__title">Originales de Platzi Videos</h2>

    <div class="carousell__container">
        <div class="carousell-item">
            <img class="carousell-item__img" src="../img/skate-1.jpg" alt="active-dance">
            <div class="carousell-item__details">
            <div>
            <img src="../assets/icon-play.png" alt="play"/>
            <img src="../assets/icon-plus.png" alt="plus"/>
            </div>
            <p class="carousell-item__details--title">Titulo descriptivo</p>
            <p class="carousell-item__details--subtitle">2019 16+ 114min</p>
            </div>    
        </div>
        <div class="carousell-item">
            <img class="carousell-item__img" src="../img/skate-2.jpg" alt="active-dance">
            <div class="carousell-item__details">
            <div>
            <img src="../assets/icon-play.png" alt="play"/>
            <img src="../assets/icon-plus.png" alt="plus"/>
            </div>
            <p class="carousell-item__details--title">Titulo descriptivo</p>
            <p class="carousell-item__details--subtitle">2019 16+ 114min</p>
            </div>    
        </div>
        <div class="carousell-item">
            <img class="carousell-item__img" src="../img/skate-3.jpg" alt="active-dance">
            <div class="carousell-item__details">
            <div>
            <img src="../assets/icon-play.png" alt="play"/>
            <img src="../assets/icon-plus.png" alt="plus"/>
            </div>
            <p class="carousell-item__details--title">Titulo descriptivo</p>
            <p class="carousell-item__details--subtitle">2019 16+ 114min</p>
            </div>    
        </div>
        <div class="carousell-item">
            <img class="carousell-item__img" src="../img/skate-4.jpg" alt="active-dance">
            <div class="carousell-item__details">
            <div>
            <img src="../assets/icon-play.png" alt="play"/>
            <img src="../assets/icon-plus.png" alt="plus"/>
            </div>
            <p class="carousell-item__details--title">Titulo descriptivo</p>
            <p class="carousell-item__details--subtitle">2019 16+ 114min</p>
            </div>    
        </div>
        <div class="carousell-item">
            <img class="carousell-item__img" src="../img/skate-5.jpg" alt="active-dance">
            <div class="carousell-item__details">
            <div>
            <img src="../assets/icon-play.png" alt="play"/>
            <img src="../assets/icon-plus.png" alt="plus"/>
            </div>
            <p class="carousell-item__details--title">Titulo descriptivo</p>
            <p class="carousell-item__details--subtitle">2019 16+ 114min</p>
            </div>    
        </div>
        <div class="carousell-item">
                <img class="carousell-item__img" src="../img/skate-6.jpg" alt="active-dance">
            <div class="carousell-item__details">
                <div>
                    <img src="../assets/icon-play.png" alt="play"/>
                    <img src="../assets/icon-plus.png" alt="plus"/>
                </div>
                    <p class="carousell-item__details--title">Titulo descriptivo</p>
                    <p class="carousell-item__details--subtitle">2019 16+ 114min</p>
            </div>    
        </div>
        <div class="carousell-item">
            <img class="carousell-item__img" src="../img/skate-7.jpg" alt="active-dance">
            <div class="carousell-item__details">
                <div>
                    <img src="../assets/icon-play.png" alt="play"/>
                    <img src="../assets/icon-plus.png" alt="plus"/>
                </div>
                <p class="carousell-item__details--title">Titulo descriptivo</p>
                <p class="carousell-item__details--subtitle">2019 16+ 114min</p>
            </div>    
        </div>
    </div>
</section>

<!--FOOTER-->

<footer class="footer">
    <a href="/">Términos de Uso</a>
    <a href="/">Declaración de privacidad</a>
    <a href="/">Centro de Ayuda</a>
</footer>

</body>
</html>